.popular{
    margin-top: 200px;
    .popular__wrapper{
        margin-top: 48px;
        display: flex;
        gap: 32px;
        overflow: auto;
        padding-bottom: 20px;
        .popular__card{
            min-width: 336px;
            width: 336px;
            .popular__text{
                .popular__title{
                    margin-top: 20px;
                    font-family: $second-font;
                    font-size: 24px;
                    font-weight: 600;
                    color: $second-bg;
                    margin-bottom: 8px;
                }
                p{
                    font-family: $second-font;
                    font-size: 12px;
                    color: #777E90;
                }
            }
        }
    }
    .popular__wrapper::-webkit-scrollbar{
        height: 8px;
    }
    .popular__wrapper::-webkit-scrollbar-thumb{
        background: #c4c4c4;
        border-radius: 20px;
    }
    button{
        margin-top: 45px;
        padding: 16px 24px;
        border: 2px solid #E6E8EC;
        border-radius: 90px;
        background: #fff;
        font-family: $main-font;
        font-weight: 700;
        color: $second-bg;
        display: flex;
        gap: 12px;
        align-items: center;
        transition: .5s;
    }
    button:hover{
        background: $second-bg;
        color: #fff;
    }
}


@media (max-width: 990px) {
    .popular{
        .popular__wrapper{
            .popular__card{
                min-width: 264px;
                width: 264px;
                img{
                    height: 264px;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .reccuring{
        .reccuting__left{
            .reccuring__title{
                font-size: 40px;
            }
        }
        .recurring__right{
            display: none;
        }
    }
}